@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
  list-style-type: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: hsl(0, 0%, 90%);
  color: rgb(60, 60, 60);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

/*
=============== 
Questions
===============
*/
.title {
  margin-top: 15vh;
  margin-bottom: 4rem;
}
.title h2 {
  color: #945fc5;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  font-size: 52px;
}
.section-center {
  max-width: 620px;
}
.question {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin-bottom: 2rem;
}
.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}
.question-title p {
  margin-bottom: 0;
  letter-spacing: 0.25rem;
  color: hsl(209, 61%, 16%);
}

.question-btn {
  font-size: 1.5rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  color: #945fc5;
  transition: all 0.3s linear;
}
.question-btn:hover {
  transform: rotate(90deg);
}
.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 2px solid rgba(140, 0, 255, 0.3);
  color: rgb(145, 145, 145);
}
.question-text p {
  margin-bottom: 0;
}

/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
