@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 1em 0;
  font-family: 'Roboto Mono', monospace;
  font-size: 40px;
}

span {
  color: #b400b4;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 15px;
  max-width: 640px;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow: auto;
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 24px;
  line-height: 250px;
  width: 40px;
  text-align: center;
  color: rgb(170, 0, 170);
  cursor: pointer;
  border: none;
  background: linear-gradient(to left, transparent 0%, rgb(0, 0, 0) 200%);
  opacity: 0.7;
  transition: all 200ms ease-in-out;
  z-index: 10;
}

.arrow-right {
  left: auto;
  right: 0;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
  font-size: 30px;
}

.item {
  width: 250px;
  height: 250px;
  flex-shrink: 0; /*Evita com que o item diminua para caber*/
  opacity: 0.6;
  border: 5px solid #fff;
  transition: all 200ms ease-in-out;
}

.current-item {
  opacity: 1;
  border: 4px solid #b400b4;
  border-radius: 5px 10px;
}

/* This is from w3schools */
/* 
https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
/* Hide scrollbar for Chrome, Safari and Opera */
.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.gallery-wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
